@import './base.css';

#app {
  width: 100%; /* Zë gjithmonë 100% të gjerësisë */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex; 
    grid-template-columns: 0fr 0fr;
    gap: 0rem;
    padding: 0 0rem;
  }
}
